*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  font-size: 16px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
a {
  text-transform: uppercase;
  text-decoration: none;
}

/* ----------- */
/* HEADER */
/* ----------- */

.header {
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: transparent;
  z-index: 100;
}

.onscroll {
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-box {
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-list li {
  padding: 0 10px;
  color: white;
  border-right: 1px solid white;
}

.no-bor li {
  border: none;
}

.nav-link:link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(78, 236, 57);
  text-decoration: none;
}

.fa-facebook-f {
  padding-right: 10px;
}

.fa-bars {
  color: white;
  display: none;
}

.fa-bars-active {
  color: rgb(78, 236, 57);
}

/* ----------- */
/* SECTION COVER */
/* ----------- */

.cover-img {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('/img/cover_photo.jpg');
  background-position: center;
  background-size: cover;
}

.text-box {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-heading {
  font-size: 50px;
  margin-bottom: 20px;
}

.secondary-heading {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}

.btn-reserve:link,
.btn-reserve:visited {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid white;
  padding: 10px;
  text-decoration: none;
}

.btn-reserve:hover {
  background-color: white;
  color: black;
}

/* ----------- */
/* SECTION BANNER */
/* ----------- */

.banner-container {
  width: 100%;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

.banner-container h1 {
  font-size: 20px;
}

.banner-container p {
  font-size: 20px;
}

.fa-map-marker {
  color: rgb(12, 94, 55);
  font-size: 20px;
}

.box-one {
  margin-right: 150px;
  position: relative;
}
.box-two {
  position: relative;
}

.box-one span {
  position: absolute;
  left: -15px;
  top: 20px;
}

.box-two span {
  position: absolute;
  left: -15px;
  top: 20px;
}

/* ----------- */
/* SECTION ABOUT */
/* ----------- */

.about-container,
.since-container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.img-about,
.img-since {
  max-width: 50%;
}

.about-text-one,
.about-text-two {
  background-image: linear-gradient(
      rgba(12, 94, 55, 0.9),
      rgba(12, 94, 55, 0.9)
    ),
    url('/img/sections_back.png');
  background-size: cover;
  text-align: center;
  width: 50%;
  display: flex;
}

.text-one,
.text-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.heading-about {
  font-size: 50px;
}

.para-about {
  padding: 0 40px;
  font-size: 1.5rem;
  margin: 30px 0;
}

.btn-about:link,
.btn-about:visited {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: 1px solid white;
  padding: 10px;
  text-decoration: none;
}
.btn-about:hover {
  background-color: white;
  color: rgb(12, 94, 55);
}

/* ----------- */
/* SECTION RESERVATIONS */
/* ----------- */

.reservations {
  width: 33.3333%;
  margin: 0 auto;
  text-align: center;
}

.reservations h1,
h2,
p {
  margin-bottom: 30px;
}

input,
textarea,
select {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 30px;
}

.btn-submit:link,
.btn-submit:visited {
  font-family: 'Roboto', sans-serif;
  color: black;
  border: 1px solid black;
  padding: 10px;
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 20px;
  position: relative;
}

.btn-submit:hover {
  color: white;
  background-color: rgb(12, 94, 55);
}

.btn-submit span {
  position: absolute;
  right: 10px;
}

/* ----------- */
/* SECTION GALLERY */
/* ----------- */

.gallery {
  background-image: linear-gradient(
      rgba(12, 94, 55, 0.9),
      rgba(12, 94, 55, 0.9)
    ),
    url('/img/sections_back.png');

  background-size: cover;
  text-align: center;
  color: white;
  padding: 10px 50px 50px;
  margin-top: 30px;
}

.row {
  margin-left: 0;
}

.car-img {
  border: 1px solid white;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-indicators {
  margin-bottom: -50px;
}

.carousel-control {
  width: 0;
  left: -30px;
}
.carousel-control.left,
.carousel-control.right {
  /* margin-right: 40px;
  margin-left: 32px; */
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

.active > div {
  display: none;
}
.active > div:first-child {
  display: block;
}

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left {
    left: -33%;
  }
  .carousel-inner .active.right {
    left: 33%;
  }
  .carousel-inner .next {
    left: 33%;
  }
  .carousel-inner .prev {
    left: -33%;
  }
  .carousel-col {
    width: 33%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .active.right {
    left: 25%;
  }
  .carousel-inner .next {
    left: 25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
  .carousel-col {
    width: 25%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
  .active > div:first-child + div + div + div {
    display: block;
  }
}

.block {
  width: 306px;
  height: 230px;
}

/* ----------- */
/* SECTION LOCATION */
/* ----------- */

.section-location {
  color: black;
  margin: 15px 0;
  display: flex;
  justify-content: center;
}

.section-location h1 {
  font-size: 20px;
  margin-bottom: 0;
}
.section-location h2 {
  font-size: 15px;
  margin-bottom: 0;
}
.section-location p {
  font-size: 15px;
  margin-bottom: 0;
}

.location,
.hours {
  margin-right: 50px;
  position: relative;
}

.location span:first-of-type {
  position: absolute;
  left: -15px;
  top: 60px;
}
.location span:last-of-type {
  position: absolute;
  left: -15px;
  top: 140px;
}

.find-us div {
  margin: 20px 0;
  position: relative;
}

.find-us .fa-facebook-f {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 10px;
}

.find-us .fa-twitter-square {
  font-size: 40px;
  padding-right: 20px;
  color: black;
}

.find-us .fa-facebook-f:hover,
.find-us .fa-twitter-square:hover,
.contact-us a:hover {
  color: rgb(12, 94, 55);
  text-decoration: none;
}

.contact-us a {
  text-transform: none;
  color: black;
}

/* ----------- */
/* FOOTER */
/* ----------- */

footer {
  background-color: black;
  padding: 30px 0;
}

footer p {
  color: rgb(212, 212, 212);
}

footer img {
  width: 11opx;
  height: 20px;
  padding-top: 1px;
  line-height: 0;
}

footer p:first-child {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

footer p:last-child {
  font-size: 12px;
  text-align: center;
  text-decoration: underline;
}

/* ----------- */
/* MEDIA QUERIES */
/* ----------- */

@media screen and (max-width: 1200px) {
  .nav-box {
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-list {
    justify-content: center;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    position: fixed;
    top: 90px;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    transition: all 0.5s ease-in;
  }

  .change {
    transform: translateX(-100%);
  }

  .menu li {
    padding-bottom: 10px;
  }

  .menu li a {
    display: block;
    padding-left: 25px;
  }

  .menu li a:hover {
    background-color: rgb(78, 236, 57);
    color: black;
  }

  .no-bor {
    display: flex;
  }

  .fa-bars {
    display: inline-block;
    margin-left: 20px;
  }

  .social {
    font-size: 30px;
    margin-top: 22px;
  }

  .reservations {
    width: 100%;
    padding: 0 30px;
  }

  /* Section Banner */

  .banner-container h1,
  .banner-container p {
    font-size: 16px;
  }

  .box-one {
    margin-right: 50px;
  }

  .box-one span {
    position: absolute;
    left: -15px;
    top: 15px;
  }

  .box-two span {
    position: absolute;
    left: -15px;
    top: 15px;
  }

  /* Section About */

  .about-container,
  .since-container {
    flex-direction: column;
  }

  .img-about,
  .img-since {
    max-width: 100%;
  }

  .about-text-one,
  .about-text-two {
    width: 100%;
  }

  .about-text-two {
    order: 1;
  }

  /* Section Gallery */

  .gallery {
    padding: 5px 0 50px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .col-xs-11 {
    width: 100%;
  }

  .carousel-indicators {
    margin-bottom: -40px;
  }

  .carousel-control {
    display: none;
  }

  /* Section Location */
  .section-location {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location,
  .hours {
    margin-right: 0;
  }

  .find-us div {
    margin: 20px 0;
  }

  .location span:first-of-type,
  .location span:last-of-type {
    position: relative;
    top: 10px;
    left: 2px;
  }
}

@media screen and (max-width: 480px) {
  .logo-box {
    width: 50%;
  }

  .nav-list {
    margin-top: 0;
  }

  /* Section Banner */
  .banner-container {
    padding: 10px 20px;
  }

  .banner-container h1,
  .banner-container p {
    font-size: 10px;
  }

  .box-one {
    margin-right: 20px;
  }
}
